################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.wsuo
/.vs
/WebRtcNativeObjectsWrapper/out/build/x64-debug
/WebRtcNativeObjectsWrapper/.vs
